<!-- partial/bottom -->
  <script src="/dist/js/jquery.js"></script>
  <script src="/dist/js/tether.js"></script>
  <script src="/dist/js/bootstrap.js"></script>
  <script src="/dist/js/glow.js"></script>
</body>

</html>
