<div class="navigation">
  <div class="header">
    <a href="#" id="navigation-header">
      <div class="media">
        <div class="media-left">
          <img class="icon" src="/dist/img/team.png">
        </div>
        <div class="media-body">
          <h1>Your Team&nbsp;<i class="fa fa-angle-down"></i></h1>
          <span><i class="fa fa-circle text-success"></i>&nbsp;Your name here</span>
        </div>
      </div>
    </a>

    <div id="navigation-menu" class="menu">
      <div class="media">
        <div class="media-left">
          <img class="icon" src="/dist/img/user.png">
        </div>
        <div class="media-body">
          <h2>Your Name Here</h2>
          <span class="text-muted">@you</span>
        </div>
      </div>

      <a class="action" href="#">Profile</a>
      <a class="action" href="#">Preferences</a>

      <div class="dropdown-divider"></div>

      <div class="media">
        <div  class="media-left">
          <img class="icon" src="/dist/img/team.png">
        </div>
        <div class="media-body">
          <h2>Team Name</h2>
          <span class="text-muted">team.fqdn.com</span>
        </div>
      </div>

      <a class="action" href="#">Invite People to Team</a>
      <a class="action" href="#">Team Directory</a>
      <a class="action" href="#">Team Settings</a>

      <div class="dropdown-divider"></div>

      <a class="action" href="#">Sign Out</a>
    </div>
  </div>

  <div class="group">
    <h2 class="card-title">Channels
      <a href="#"><i class="fa fa-plus-circle pull-right"></i></a>
    </h2>

    <a href="#" class="item active"><i class="fa fa-hashtag"></i>&nbsp;Channel</a>
    <a href="#" class="item"><i class="fa fa-hashtag"></i>&nbsp;Channel</a>
    <a href="#" class="item"><i class="fa fa-hashtag"></i>&nbsp;Channel</a>
  </div>

  <div class="group">
    <h2 class="card-title">Members</h2>
    <a href="#" class="item"><i class="fa fa-circle-thin"></i>&nbsp;Member</a>
    <a href="#" class="item"><i class="fa fa-circle text-success"></i>&nbsp;Active Member</a>
  </div>
</div>
